<h2>Create your account</h2>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation  %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= submit_tag 'Create' %>
<% end %>
